
.desktop {
}

.desktop .hero-section {
  padding: 67px 163px;
}
.desktop .hero-section .hero-bg{
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 64px;
}

.nav-right-desktop{
  display: flex;
  gap: 32px;
  align-items: center;

  }
.login{
  color: #ffffff;
  font-family: "Ubuntu-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  opacity: 0.75;
}
.sign-up{
  color: #ff505c;
  font-family: "Ubuntu-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}


.nav-right button {
  border-radius: 28px;
  padding: 15px 40px;
  border: none;
  color: #FF505C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-right-mobile {
  display: none;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}



.shapes-mobile{
  display: none;
}

.design-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop .group {
  display: flex;
  gap: 24px;
}

.desktop .overlap-group-wrapper {
  border-radius: 28px;
  padding: 15px 40px;
  background-color: #ffffff;

}


.desktop .text-wrapper {
  color: #ff505c;
  font-family: "Ubuntu-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-copy {
  border-radius: 28px;
  padding: 15px 40px;
  border: 1px solid #FFF;


}

.desktop .text-wrapper-2 {
  color: #ffffff;
  font-family: "Ubuntu-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;

}

.desktop .a-modern-publishing-mobile {
  display: none;
}
.desktop .grow-your-audience-a-mobile{
  display: none;
}
.desktop .a-modern-publishing {
  color: #ffffff;
  font-family: "Overpass SemiBold-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1.92px;
  line-height: normal;
  text-align: center;

}

.desktop .grow-your-audience-a {
  color: #ffffff;
  font-family: "Overpass-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 50px;
  text-align: center;
}


.main-section{
  padding: 100px 0px 100px 167px;
  position: relative;
  top: 200px;
  margin-bottom: 200px;
}
.desktop .designed-for-the-fut {
  margin-right: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1f3d59;
  font-family: "Overpass SemiBold-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-align: center;
}
.design-left p {
  color: #4c5762;
  font-family: "Overpass-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;

}
.design-left h1 {
  color: #1F3E5A;
  font-family: Overpass SemiBold;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}


.middle-section{
  padding: 50px 173px 0 173px;
  position: relative;
}
.rectangle-mobile{
  display: none;
}
.phones-mobile{
  display: none;
}
.rectangle-copy{
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

}

.middle-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

}
.state-of-the-art-inf {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Overpass SemiBold-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: normal;
}
.with-reliability-and {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Overpass-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;
  width: 540px;
}
.middle-img {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 450px;
}
.phones {
  position: relative;
}



.bottom-section {
  padding: 0 185px 0 0;
  bottom: 300px;
  position: relative;
  align-items: center;
  display: flex;

}
.bottom-image-mobile{
  display: none;
}
.bottom-images{
  display: flex;

}
.bottom-text p{
  color: #4c5762;
  font-family: "Overpass-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.bottom-text h1{
  color: #1F3E5A;
  font-family: Overpass SemiBold;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.footer-section {
  padding: 150px 165px;
  bottom: 0;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #23242b;
  border-radius: 0px 100px 0px 0px;

}
.footer-items{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blogr-2 {
  background-size: 100% 100%;
  display: flex;
  position: relative;
  bottom: 90px;
}

.footer-section ul li {
  list-style: none;
  font-family: Ubuntu;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;

}
.footer-lists{
  display: flex;
  gap: 200px;


}
.list-header{
  margin-bottom: 21px;
}


/*
* MEDIA QUERIES BEGIN HERE
*/
@media screen and (max-width: 1440px) {
  .hero-header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .middle-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 100px;

  }
  .middle-img {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 450px;
    right: 100px;
  }
}

@media screen and (max-width: 1200px) {
.hero-section {
  padding: 56px 24px;
}

  nav ul {
    display: none;
  }

  .main-section{
  padding: 100px 24px;
  position: relative;
  top: 400px
}

.design-section {
  flex-direction: column-reverse;
}

  .shapes {
    display: none;
  }

  .shapes-mobile{
    display: block;
  }

  .nav-right-desktop {
    display: none
  }

  .nav-right-mobile {
    display: block;
  }

  .hero-bg {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%;
  }

  .main-section{
    padding: 100px 0px 100px 167px;
    position: relative;
    top: 10px;
    margin-bottom: 200px;
  }
  .desktop .designed-for-the-fut {
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1f3d59;
    font-family: "Overpass SemiBold-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -1.2px;
    text-align: center;
  }
  .middle-section{
    padding: 50px 173px 0 173px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .middle-img {
    display: flex;
    position: relative;
    bottom: 450px;
  }
  .phones {
    width: 400px;
    position: relative;
  }
}

/*
* IT ENDS HERE
*/





